.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 55px 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}